# Dépendances
node_modules/

# Variables d'environnement
.env
.env.local
.env.*.local

# Fichiers uploadés par les utilisateurs
uploads/*
!uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# Système
.DS_Store
Thumbs.db

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Éditeurs
.vscode/*
!.vscode/extensions.json
.idea/

# Build
dist/
build/
